




titel {
    position: relative;
    right: 50%;
    front-size: 2em;
    text-decoration: underline;

}



h1 {
    front-size: ;
    color: black;
    border: 5px black;
}

img {
    border: 5px black;
    width: 220;
    height: 200;
}


img {
    border: 5px black;
    width: 220;
    height: 200;
}

img {
    border: 5px black;
    width: 220;
    height: 200;
}










