




titel {
    position: relative;
    right: 50%;
    front-size: 2em;
    text-decoration: underline;

}



h1 {
    front-size: ;
    color: black;
    border: 2px black;
}

img {
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 220px;
    height: 200px;
}









