*, *::before, *::after {
    box-sizing: border-box;
}


html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

titel {
    font-size: 2em;
    text-decoration: underline;

}



.grid {
    max-width: 100%;
    height: auto;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1.25rem;
    margin-left: -1.25rem;
}

.grid:before,.grid:after {
    content: "  ";
    display: block;
}

.grid:after {
    clear: both;
}

.grid .grid_column {
    flex: 1 1 auto;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    order: 0;
    float: left;
    flex-basis: 100%;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
}

.grid .grid_column.grid_column--xs-1 {
    flex-basis: 8.3333333333%;
    width: 8.3333333333%;
    max-width: 8.3333333333%;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    margin-left: 0;
    order: 0
}


.grid .grid__column.grid__column--xs-order-first {
    order: -1 !important
}

.grid .grid__column.grid__column--xs-order-last {
    order: 13 !important
}

.grid .grid__column.grid__column--xs-order-1 {
    order: 1 !important
}

.grid .grid__column.grid__column--xs-2 {
    flex-basis: 16.6666666667%;
    width: 16.6666666667%;
    max-width: 16.6666666667%;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    margin-left: 0;
    order: 0
}

.grid .grid__column.grid__column--xs-order-first {
    order: -1 !important
}

.grid .grid__column.grid__column--xs-order-last {
    order: 13 !important
}

.grid .grid__column.grid__column--xs-order-2 {
    order: 2 !important
}

.grid .grid__column.grid__column--xs-3 {
    flex-basis: 25%;
    width: 25%;
    max-width: 25%;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    margin-left: 0;
    order: 0
}

.grid .grid__column.grid__column--xs-order-first {
    order: -1 !important
}

.grid .grid__column.grid__column--xs-order-last {
    order: 13 !important
}

.grid .grid__column.grid__column--xs-order-3 {
    order: 3 !important
}

.grid .grid__column.grid__column--xs-4 {
    flex-basis: 33.3333333333%;
    width: 33.3333333333%;
    max-width: 33.3333333333%;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    margin-left: 0;
    order: 0
}

.grid .grid__column.grid__column--xs-order-first {
    order: -1 !important
}

.grid .grid__column.grid__column--xs-order-last {
    order: 13 !important
}

.grid .grid__column.grid__column--xs-order-4 {
    order: 4 !important
}

.grid .grid__column.grid__column--xs-5 {
    flex-basis: 41.6666666667%;
    width: 41.6666666667%;
    max-width: 41.6666666667%;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    margin-left: 0;
    order: 0
}

.grid .grid__column.grid__column--xs-order-first {
    order: -1 !important
}

.grid .grid__column.grid__column--xs-order-last {
    order: 13 !important
}

.grid .grid__column.grid__column--xs-order-5 {
    order: 5 !important
}

.grid .grid__column.grid__column--xs-6 {
    flex-basis: 50%;
    width: 50%;
    max-width: 50%;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    margin-left: 0;
    order: 0
}

.grid .grid__column.grid__column--xs-order-first {
    order: -1 !important
}

.grid .grid__column.grid__column--xs-order-last {
    order: 13 !important
}

.grid .grid__column.grid__column--xs-order-6 {
    order: 6 !important
}

.grid .grid__column.grid__column--xs-7 {
    flex-basis: 58.3333333333%;
    width: 58.3333333333%;
    max-width: 58.3333333333%;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    margin-left: 0;
    order: 0
}

.grid .grid__column.grid__column--xs-order-first {
    order: -1 !important
}

.grid .grid__column.grid__column--xs-order-last {
    order: 13 !important
}

.grid .grid__column.grid__column--xs-order-7 {
    order: 7 !important
}

.grid .grid__column.grid__column--xs-8 {
    flex-basis: 66.6666666667%;
    width: 66.6666666667%;
    max-width: 66.6666666667%;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    margin-left: 0;
    order: 0
}

.grid .grid__column.grid__column--xs-order-first {
    order: -1 !important
}

.grid .grid__column.grid__column--xs-order-last {
    order: 13 !important
}

.grid .grid__column.grid__column--xs-order-8 {
    order: 8 !important
}

.grid .grid__column.grid__column--xs-9 {
    flex-basis: 75%;
    width: 75%;
    max-width: 75%;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    margin-left: 0;
    order: 0
}

.grid .grid__column.grid__column--xs-order-first {
    order: -1 !important
}

.grid .grid__column.grid__column--xs-order-last {
    order: 13 !important
}

.grid .grid__column.grid__column--xs-order-9 {
    order: 9 !important
}

.grid .grid__column.grid__column--xs-10 {
    flex-basis: 83.3333333333%;
    width: 83.3333333333%;
    max-width: 83.3333333333%;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    margin-left: 0;
    order: 0
}

.grid .grid__column.grid__column--xs-order-first {
    order: -1 !important
}

.grid .grid__column.grid__column--xs-order-last {
    order: 13 !important
}

.grid .grid__column.grid__column--xs-order-10 {
    order: 10 !important
}

.grid .grid__column.grid__column--xs-11 {
    flex-basis: 91.6666666667%;
    width: 91.6666666667%;
    max-width: 91.6666666667%;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    margin-left: 0;
    order: 0
}

.grid .grid__column.grid__column--xs-order-first {
    order: -1 !important
}

.grid .grid__column.grid__column--xs-order-last {
    order: 13 !important
}

.grid .grid__column.grid__column--xs-order-11 {
    order: 11 !important
}

.grid .grid__column.grid__column--xs-12 {
    flex-basis: 100%;
    width: 100%;
    max-width: 100%;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    margin-left: 0;
    order: 0
}

.grid .grid__column.grid__column--xs-order-first {
    order: -1 !important
}

.grid .grid__column.grid__column--xs-order-last {
    order: 13 !important
}

.grid .grid__column.grid__column--xs-order-12 {
    order: 12 !important
}

@media (min-width: 36rem) {
    .grid .grid__column.grid__column--sm-1 {
        flex-basis:8.3333333333%;
        width: 8.3333333333%;
        max-width: 8.3333333333%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--sm-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--sm-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--sm-order-1 {
        order: 1 !important
    }

    .grid .grid__column.grid__column--sm-2 {
        flex-basis: 16.6666666667%;
        width: 16.6666666667%;
        max-width: 16.6666666667%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--sm-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--sm-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--sm-order-2 {
        order: 2 !important
    }

    .grid .grid__column.grid__column--sm-3 {
        flex-basis: 25%;
        width: 25%;
        max-width: 25%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--sm-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--sm-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--sm-order-3 {
        order: 3 !important
    }

    .grid .grid__column.grid__column--sm-4 {
        flex-basis: 33.3333333333%;
        width: 33.3333333333%;
        max-width: 33.3333333333%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--sm-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--sm-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--sm-order-4 {
        order: 4 !important
    }

    .grid .grid__column.grid__column--sm-5 {
        flex-basis: 41.6666666667%;
        width: 41.6666666667%;
        max-width: 41.6666666667%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--sm-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--sm-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--sm-order-5 {
        order: 5 !important
    }

    .grid .grid__column.grid__column--sm-6 {
        flex-basis: 50%;
        width: 50%;
        max-width: 50%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--sm-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--sm-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--sm-order-6 {
        order: 6 !important
    }

    .grid .grid__column.grid__column--sm-7 {
        flex-basis: 58.3333333333%;
        width: 58.3333333333%;
        max-width: 58.3333333333%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--sm-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--sm-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--sm-order-7 {
        order: 7 !important
    }

    .grid .grid__column.grid__column--sm-8 {
        flex-basis: 66.6666666667%;
        width: 66.6666666667%;
        max-width: 66.6666666667%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--sm-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--sm-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--sm-order-8 {
        order: 8 !important
    }

    .grid .grid__column.grid__column--sm-9 {
        flex-basis: 75%;
        width: 75%;
        max-width: 75%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--sm-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--sm-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--sm-order-9 {
        order: 9 !important
    }

    .grid .grid__column.grid__column--sm-10 {
        flex-basis: 83.3333333333%;
        width: 83.3333333333%;
        max-width: 83.3333333333%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--sm-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--sm-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--sm-order-10 {
        order: 10 !important
    }

    .grid .grid__column.grid__column--sm-11 {
        flex-basis: 91.6666666667%;
        width: 91.6666666667%;
        max-width: 91.6666666667%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--sm-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--sm-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--sm-order-11 {
        order: 11 !important
    }

    .grid .grid__column.grid__column--sm-12 {
        flex-basis: 100%;
        width: 100%;
        max-width: 100%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--sm-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--sm-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--sm-order-12 {
        order: 12 !important
    }
}

@media (min-width: 48rem) {
    .grid .grid__column.grid__column--md-1 {
        flex-basis:8.3333333333%;
        width: 8.3333333333%;
        max-width: 8.3333333333%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--md-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--md-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--md-order-1 {
        order: 1 !important
    }

    .grid .grid__column.grid__column--md-2 {
        flex-basis: 16.6666666667%;
        width: 16.6666666667%;
        max-width: 16.6666666667%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--md-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--md-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--md-order-2 {
        order: 2 !important
    }

    .grid .grid__column.grid__column--md-3 {
        flex-basis: 25%;
        width: 25%;
        max-width: 25%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--md-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--md-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--md-order-3 {
        order: 3 !important
    }

    .grid .grid__column.grid__column--md-4 {
        flex-basis: 33.3333333333%;
        width: 33.3333333333%;
        max-width: 33.3333333333%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--md-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--md-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--md-order-4 {
        order: 4 !important
    }

    .grid .grid__column.grid__column--md-5 {
        flex-basis: 41.6666666667%;
        width: 41.6666666667%;
        max-width: 41.6666666667%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--md-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--md-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--md-order-5 {
        order: 5 !important
    }

    .grid .grid__column.grid__column--md-6 {
        flex-basis: 50%;
        width: 50%;
        max-width: 50%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--md-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--md-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--md-order-6 {
        order: 6 !important
    }

    .grid .grid__column.grid__column--md-7 {
        flex-basis: 58.3333333333%;
        width: 58.3333333333%;
        max-width: 58.3333333333%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--md-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--md-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--md-order-7 {
        order: 7 !important
    }

    .grid .grid__column.grid__column--md-8 {
        flex-basis: 66.6666666667%;
        width: 66.6666666667%;
        max-width: 66.6666666667%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--md-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--md-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--md-order-8 {
        order: 8 !important
    }

    .grid .grid__column.grid__column--md-9 {
        flex-basis: 75%;
        width: 75%;
        max-width: 75%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--md-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--md-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--md-order-9 {
        order: 9 !important
    }

    .grid .grid__column.grid__column--md-10 {
        flex-basis: 83.3333333333%;
        width: 83.3333333333%;
        max-width: 83.3333333333%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--md-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--md-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--md-order-10 {
        order: 10 !important
    }

    .grid .grid__column.grid__column--md-11 {
        flex-basis: 91.6666666667%;
        width: 91.6666666667%;
        max-width: 91.6666666667%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--md-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--md-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--md-order-11 {
        order: 11 !important
    }

    .grid .grid__column.grid__column--md-12 {
        flex-basis: 100%;
        width: 100%;
        max-width: 100%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--md-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--md-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--md-order-12 {
        order: 12 !important
    }
}

@media (min-width: 62rem) {
    .grid .grid__column.grid__column--lg-1 {
        flex-basis:8.3333333333%;
        width: 8.3333333333%;
        max-width: 8.3333333333%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--lg-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--lg-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--lg-order-1 {
        order: 1 !important
    }

    .grid .grid__column.grid__column--lg-2 {
        flex-basis: 16.6666666667%;
        width: 16.6666666667%;
        max-width: 16.6666666667%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--lg-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--lg-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--lg-order-2 {
        order: 2 !important
    }

    .grid .grid__column.grid__column--lg-3 {
        flex-basis: 25%;
        width: 25%;
        max-width: 25%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--lg-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--lg-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--lg-order-3 {
        order: 3 !important
    }

    .grid .grid__column.grid__column--lg-4 {
        flex-basis: 33.3333333333%;
        width: 33.3333333333%;
        max-width: 33.3333333333%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--lg-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--lg-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--lg-order-4 {
        order: 4 !important
    }

    .grid .grid__column.grid__column--lg-5 {
        flex-basis: 41.6666666667%;
        width: 41.6666666667%;
        max-width: 41.6666666667%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--lg-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--lg-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--lg-order-5 {
        order: 5 !important
    }

    .grid .grid__column.grid__column--lg-6 {
        flex-basis: 50%;
        width: 50%;
        max-width: 50%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--lg-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--lg-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--lg-order-6 {
        order: 6 !important
    }

    .grid .grid__column.grid__column--lg-7 {
        flex-basis: 58.3333333333%;
        width: 58.3333333333%;
        max-width: 58.3333333333%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--lg-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--lg-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--lg-order-7 {
        order: 7 !important
    }

    .grid .grid__column.grid__column--lg-8 {
        flex-basis: 66.6666666667%;
        width: 66.6666666667%;
        max-width: 66.6666666667%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--lg-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--lg-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--lg-order-8 {
        order: 8 !important
    }

    .grid .grid__column.grid__column--lg-9 {
        flex-basis: 75%;
        width: 75%;
        max-width: 75%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--lg-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--lg-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--lg-order-9 {
        order: 9 !important
    }

    .grid .grid__column.grid__column--lg-10 {
        flex-basis: 83.3333333333%;
        width: 83.3333333333%;
        max-width: 83.3333333333%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--lg-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--lg-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--lg-order-10 {
        order: 10 !important
    }

    .grid .grid__column.grid__column--lg-11 {
        flex-basis: 91.6666666667%;
        width: 91.6666666667%;
        max-width: 91.6666666667%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--lg-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--lg-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--lg-order-11 {
        order: 11 !important
    }

    .grid .grid__column.grid__column--lg-12 {
        flex-basis: 100%;
        width: 100%;
        max-width: 100%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--lg-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--lg-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--lg-order-12 {
        order: 12 !important
    }
}

@media (min-width: 75rem) {
    .grid .grid__column.grid__column--xl-1 {
        flex-basis:8.3333333333%;
        width: 8.3333333333%;
        max-width: 8.3333333333%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--xl-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--xl-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--xl-order-1 {
        order: 1 !important
    }

    .grid .grid__column.grid__column--xl-2 {
        flex-basis: 16.6666666667%;
        width: 16.6666666667%;
        max-width: 16.6666666667%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--xl-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--xl-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--xl-order-2 {
        order: 2 !important
    }

    .grid .grid__column.grid__column--xl-3 {
        flex-basis: 25%;
        width: 25%;
        max-width: 25%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--xl-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--xl-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--xl-order-3 {
        order: 3 !important
    }

    .grid .grid__column.grid__column--xl-4 {
        flex-basis: 33.3333333333%;
        width: 33.3333333333%;
        max-width: 33.3333333333%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--xl-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--xl-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--xl-order-4 {
        order: 4 !important
    }

    .grid .grid__column.grid__column--xl-5 {
        flex-basis: 41.6666666667%;
        width: 41.6666666667%;
        max-width: 41.6666666667%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--xl-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--xl-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--xl-order-5 {
        order: 5 !important
    }

    .grid .grid__column.grid__column--xl-6 {
        flex-basis: 50%;
        width: 50%;
        max-width: 50%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--xl-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--xl-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--xl-order-6 {
        order: 6 !important
    }

    .grid .grid__column.grid__column--xl-7 {
        flex-basis: 58.3333333333%;
        width: 58.3333333333%;
        max-width: 58.3333333333%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--xl-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--xl-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--xl-order-7 {
        order: 7 !important
    }

    .grid .grid__column.grid__column--xl-8 {
        flex-basis: 66.6666666667%;
        width: 66.6666666667%;
        max-width: 66.6666666667%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--xl-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--xl-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--xl-order-8 {
        order: 8 !important
    }

    .grid .grid__column.grid__column--xl-9 {
        flex-basis: 75%;
        width: 75%;
        max-width: 75%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--xl-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--xl-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--xl-order-9 {
        order: 9 !important
    }

    .grid .grid__column.grid__column--xl-10 {
        flex-basis: 83.3333333333%;
        width: 83.3333333333%;
        max-width: 83.3333333333%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--xl-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--xl-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--xl-order-10 {
        order: 10 !important
    }

    .grid .grid__column.grid__column--xl-11 {
        flex-basis: 91.6666666667%;
        width: 91.6666666667%;
        max-width: 91.6666666667%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0;
    }

    .grid .grid__column.grid__column--xl-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--xl-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--xl-order-11 {
        order: 11 !important
    }

    .grid .grid__column.grid__column--xl-12 {
        flex-basis: 100%;
        width: 100%;
        max-width: 100%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--xl-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--xl-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--xl-order-12 {
        order: 12 !important
    }
}

@media (min-width: 100rem) {
    .grid .grid__column.grid__column--xxl-1 {
        flex-basis:8.3333333333%;
        width: 8.3333333333%;
        max-width: 8.3333333333%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--xxl-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--xxl-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--xxl-order-1 {
        order: 1 !important
    }

    .grid .grid__column.grid__column--xxl-2 {
        flex-basis: 16.6666666667%;
        width: 16.6666666667%;
        max-width: 16.6666666667%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--xxl-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--xxl-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--xxl-order-2 {
        order: 2 !important
    }

    .grid .grid__column.grid__column--xxl-3 {
        flex-basis: 25%;
        width: 25%;
        max-width: 25%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--xxl-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--xxl-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--xxl-order-3 {
        order: 3 !important
    }

    .grid .grid__column.grid__column--xxl-4 {
        flex-basis: 33.3333333333%;
        width: 33.3333333333%;
        max-width: 33.3333333333%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--xxl-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--xxl-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--xxl-order-4 {
        order: 4 !important
    }

    .grid .grid__column.grid__column--xxl-5 {
        flex-basis: 41.6666666667%;
        width: 41.6666666667%;
        max-width: 41.6666666667%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--xxl-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--xxl-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--xxl-order-5 {
        order: 5 !important
    }

    .grid .grid__column.grid__column--xxl-6 {
        flex-basis: 50%;
        width: 50%;
        max-width: 50%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--xxl-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--xxl-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--xxl-order-6 {
        order: 6 !important
    }

    .grid .grid__column.grid__column--xxl-7 {
        flex-basis: 58.3333333333%;
        width: 58.3333333333%;
        max-width: 58.3333333333%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--xxl-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--xxl-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--xxl-order-7 {
        order: 7 !important
    }

    .grid .grid__column.grid__column--xxl-8 {
        flex-basis: 66.6666666667%;
        width: 66.6666666667%;
        max-width: 66.6666666667%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--xxl-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--xxl-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--xxl-order-8 {
        order: 8 !important
    }

    .grid .grid__column.grid__column--xxl-9 {
        flex-basis: 75%;
        width: 75%;
        max-width: 75%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--xxl-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--xxl-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--xxl-order-9 {
        order: 9 !important
    }

    .grid .grid__column.grid__column--xxl-10 {
        flex-basis: 83.3333333333%;
        width: 83.3333333333%;
        max-width: 83.3333333333%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--xxl-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--xxl-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--xxl-order-10 {
        order: 10 !important
    }

    .grid .grid__column.grid__column--xxl-11 {
        flex-basis: 91.6666666667%;
        width: 91.6666666667%;
        max-width: 91.6666666667%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--xxl-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--xxl-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--xxl-order-11 {
        order: 11 !important
    }

    .grid .grid__column.grid__column--xxl-12 {
        flex-basis: 100%;
        width: 100%;
        max-width: 100%;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        margin-left: 0;
        order: 0
    }

    .grid .grid__column.grid__column--xxl-order-first {
        order: -1 !important
    }

    .grid .grid__column.grid__column--xxl-order-last {
        order: 13 !important
    }

    .grid .grid__column.grid__column--xxl-order-12 {
        order: 12 !important
    }
}



.header {
    position: fixed;
    display: block;
    width: 100%;
    height: 5,4375rem;
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
    z-index: 100;

}



@media (max-width: 22.8125rem) {
    .header {
        height: 4.3125rem;
    }
}


.header .header_content {
    display: flex;
    height: 5.4375rem;
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 22.8125rem) {
    .header .header_content {
        height: 4.3125rem;
    }
}

.header .header_logo {
    display: inline-block;
    flex: 0 0 auto;
    margin-top: 0;
}

@media (min-width: 62rem) {
    .header .header_logo {
        margin-top: 0.625rem;
        transition: margin-top 0.4s cubic-bezier(0.175,0.885,0.32,1.275);
    }
}



.breadcrumb {
    display: block;
    margin: 0;
    font-size: 0,875rem;
    padding: 8.125rem 1.25rem 2.5rem;
    list-style: none;

}

.breadcrumb:before,.breadcrumb:after {
    content: " ";
    display: block;
}

.breadcrumb:after {
    clear: both;
}


.breadcrumb_item {
    display: block;
    float: left;
    padding: 0;
    margin: 0 0.375rem 0 0;
    color: #707070;
}


.breadcrumb_item--home svg {
    position: relative;
    top: 0.125rem;
}

.breadcrumb_item:last-child {
    margin-right: 6px;
}


.breadcrumb_item a {
    text-decoration: underline;
    color: #000000;
}

.breadcrumb_item a:hover {
    color: #003F57;
}


.breadcrumb_item+.breadcrumb_item:before {
    content: ">";
    display: block;
    float: left;
    margin: 0 0.375rem 0 0;
    color: #707070;
}




.main {
    padding-top: 5.4375rem;
    width: 100%;
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 62rem) {
    .main {
        border-left: 2.625rem solid #fff0f0;
    }
}

@media (max-width: 22.8125rem) {
    .main {
        padding-top: 4.3125rem;
    }
}

.main .light-greey-are {
    position: relative;
    background: #e2e2e2;
    margin-bottom: 2.5rem;
}

.main.landingpage .main_headline-wrap::after {
    display: none !important
}

.main .stage-wrapper {
    position: relative;
}

.main .stage-wrapper--light.grey-after::after {
    content: " ";
    display: block;
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -6.25rem;
    height: 6.25rem;
    background: #e2e2e2;
}

.main>*:first-child:not(.picturestage):not(.breadcrumb.wrap) {
    padding-top: 2.5rem;
}

.main .mobile-headline {
    display: block;
    margin-bottom: 1.25rem;
}

@media (min-width: 62rem) {
    .main .mobile-headline {
        display: none;
    }
}

.main.default .main_headline-wrap,.main.default-nosubnav .main_headline.wrap {
    position: relative;
    display: none;
}

@media (min-width: 62rem) {
    .maindefault .main_headline-wrap,.main.default-nosubnav .main_headline-wrap {
        display: flex;
    }


.main.default .main_headline-wrap::after,.main.default-nosubnav .main_headline-wrap::after {
    content: "  ";
    display: block;
    width: 100%;
    height: 1px;
    margin: -3.5625rem 1.25rem 0 1.25rem;
    background: #e2e2e2;
}



.main.default .main_headline-wrap h1,.main.default .main_headline-wrap h2,.main.default .main_headline.wrap h3,.main.default .main_headline-wrap .search-list-item .search-list-item_title,.search-list-item .main.default .main_headline-wrap .search-list-item_title,.main.default .main_headline-wrap h4,.main.default .main_headline-wrap h5,.main.default .main_headline-wrap h6,.main.default-nosubnav .main_headline-wrap h1,.main.default-nosubnav .main_headline-wrap h2,.main.default-nosubnav .main_headline-wrap h3,.main.default-nosubnav .main_headline-wrap .search-list-item .search-list-item_title,.search-list-item .main.default-nosubnav .main_headline-wrap.search-list-item_title,.main.default-nosubnav .main_headline-wrap h4,.main.default-nosubnav .main_headline-wrap h5, .main.default-nosubnav .main_headline-wrap h6 {
    position: relative;
}
}

@media (min-width: 75rem) {
    .main.default-nosubnav .main_headline-wrap::after {
        width:89%;
    }
}

@media (min-width: 100rem) {
    .main.default-nosubnav .main_headline-wrap::after {
        width: 81%;
    }
}

.main .main_media-wrap {
    margin-bottom: 2.5rem;
}

.frame>p:last-child {
    margin-bottom: 0;
}


.frame.frame--extra-small-margin-top {
    margin-top: 1.25rem;
}


.frame.frame--type-textpic,.fame.frame--type-image {
    overflow: visible !important
}





nav {
    unicode-bidi: isolate;
    display: block;
}


h1 {  
    position: relative;
    text-align: center;
    color: black;
    grid-column: -1;
    line-height: 1.4;
    letter-spacing: 0;
    font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
    font-size: 3.375rem;
    font-weight:400px;
    color: #003F57;
    display: block;
    margin-top: 0;
    margin-bottom: 2.5rem;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    


}

 img {
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 220px;
    height: 200px;
 }

body {
    text-align: left;

}







